h1 {
  font-family: 'Anonymous Pro', monospace;
  color: blue;
}
li {
  font-family: 'Montserrat', sans-serif;
}
table {
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(222, 83, 108);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fill {
  /* position: relative; */
  /* height: 150px;
  width: 150px; */
  /* top: 5px;
  left: 5px; */
  cursor: pointer;
}
.hold {
  border: 2px solid red;
  height: 40px;
}
#playerBoard,
#computerBoard {
  display: grid;
  /* grid-template-columns: repeat(10, 50px); */
  /* flex-direction: row; */
}
.row {
}
.empty,
.computerempty {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(222, 83, 108);
  background: white;
}

.aquamarine {
  background-color: aquamarine;
}
.aqua {
  background-color: aqua;
}
.blue {
  background-color: blue;
}
.blueviolet {
  background-color: blueviolet;
}
.cadetblue {
  background-color: cadetblue;
}

.hovered {
  background: #ff9393;
  border-style: dashed;
}
.invisible {
  display: none;
}

.shipcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.ships {
  border: 1px solid green;
}
.switch {
  border: 1px solid blue;
}
.ship {
  border: 1px solid black;
  height: 40px;
}
.carrier {
  width: 200px;
  background-color: aquamarine;
}
.battleship {
  width: 160px;
  background-color: aqua;
}
.submarine {
  width: 120px;
  background-color: blue;
}
.cruiser {
  width: 80px;
  background-color: blueviolet;
}
.patrolboat {
  width: 40px;
  background-color: cadetblue;
}
